*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar{
    background-color: #160816;
    display: block;
    width: 100%;
    margin-right: 40px;
}

.container{
    width: 100%;
    display: flex;
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
}
.nav-title{
    font-size: 30px;
    font-weight: 500;
}
.nav-sigin,.nav-sigin:hover{
    font-weight: 500;
    font-size: 20px;
}
.nav-sigin,.nav-sigin:hover,.nav-title{
    color: #fff;
}
.nav-sigin{
    text-align: center;
    display: block;
    background-color: #7A86B6;
    margin: 0px 30px 0px 0px;
    justify-content: center;
    padding: 5px 8px 5px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.nav-sigin:hover{
    text-align: center;
    display: block;
    background-color: #C8B6E2;
    margin: 0px 30px 0px 0px;
    justify-content: center;
    padding: 5px 8px 5px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}
img{
    display: block;
    line-height: 0;
    width:100%;
    height: 150;
    object-fit: fill;
}
.title {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  /*button*/
  .play-button{
    padding: 20px;
    margin-top: 1.9%;
    outline: none;
    background: #e432b6;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 30px;
    margin-left: 2%;
  }
.play-button:hover{
    background-color: #fff;
    color: #e432b6;
}
    /*footer-filler*/
.footer-filler{
    width: 100%;
    padding-top: 10%;
    padding: 0%;
    margin: 0%;
        background-color: #071927;
        padding-bottom: 100%;
}


/* The Modal (background) */
.modal {
  display:block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #e432b6;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #e432b6;
  color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
/* room card main */
.roomEnter.header{
    float: left;
    padding: 10px 5px 5px 2px;
}
roomEnter.header.room{
    display: flex;
    justify-content: center;
}
.Card{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.join-card{
  display: none;
  border-right: 1px solid black;
  justify-content: flex-start;
  float: left;
}
.create-card{
  border-right: 1px solid black;
}
.create-card,.join-card{
  width: 60%;
  padding: 10px;
}
.create-card,.avathar{
  display: flex;
  justify-content: flex-start;
  float: left;
}
.avathar{
  width: 40%;
  margin-left: 20px;
}
.create-form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-items: flex-start;
}
.fname{
  margin-left: 60px;
}

.submit-but{
  padding: 11px;
  border: none;
  border-radius: 10px;
  background-color: #cc32e4;
  color: #fff;
  font-size: 1rem;
  margin-left: 10%;
}
.submit-but:hover{
  color: #cc32e4;
  background-color: #fff;
  border: 0.51px solid #cc32e4;
}
#fname,#lrommId,#-fname{
  outline: none;
  padding: 2px;
}
.join-form{
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
display: flex;
justify-content: center;
border: none;
}
.grid-item:hover{
  border: 1px solid #2196F3;
}
.avatar-image{
  padding: 1px;
}

